@{
    ViewData["Title"] = "EmployeeList";
}


@model List<Person>

<h1> All Employees....(@Model.Count())</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope= "col">SN</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    @{int i = 1;}
   @foreach(var employee in Model)
   {
       <tr scope = "row">
           <td> @(i++)</td>
           <td>
             @{
             
             string employeeFirstName = employee.FirstName;
             }

             <a hred = "/employee/detail?id = @employee.ID">@employeeFirstName</a>
            </td>
          
           <td>@employee.Surname</td>
           <td>@employee.Address</td>
           <td>@employee.Gender</td>
           <td>@employee.Salary</td>
           <td><a href="/Employee/Update?id=@employee.ID" class="btn btn-sm btn-primary">Edit</a></td>
          <td><a href="/Employee/Delete?id=@employee.ID" class="btn btn-sm btn-danger">Delete</a></td>

       </tr>
   }
   
  </tbody>
</table>
